<header class="header fixed-top">
    <nav class="navbar navbar-expand-md">
        <div class="container-fluid align-items-center">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('assets/images/logos/logo-header.png') }}" class="logo-header" alt="Logo RefletsBleus">
            </a>
            <div class="d-flex content-icon-facebook-top order-xxl-1">
                <a href="https://www.facebook.com/profile.php?id=100089841056259">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    {% for category in categories %}
                    <li class="nav-item" itemprop="name">
                        <a class="nav-link" href="{{ path('category_show', { 'slug': category.slug }) }}" itemprop="url">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <div class="dropdown">
                            <a class="nav nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span itemprop="name">Tableau de bord</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('admin') }}" itemprop="url">Dashboard</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_logout') }}" itemprop="url">Déconnexion</a></li>
                            </ul>
                        </div>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}" itemprop="url">Se déconnecter</a>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid g-0 row">
        <a href="tel:{{ tel.value }}" class="d-flex icon-light col-4 col-md-auto text-decoration-none">
            <i class="fa-solid fa-phone"></i>
        </a>
        <a href="{{ path('category_show', { 'slug': 'magasins' }) }}" class="d-flex icon-dark col-4 col-md-auto text-decoration-none">
            <i class="fa-solid fa-location-dot"></i>
        </a>
        <a href="{{ path('app_contact') }}" class="d-flex col-4 col-md-auto text-decoration-none icon-mail">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center">
            {{ message }}
        </div>
    {% endfor %}
</header>

