<div id="header">
	<header class="header fixed-top">
		<nav class="navbar navbar-expand-md ">
			<div class="container-fluid align-items-center">
				<a class="navbar-brand" href="/">
					<img src="{{ asset('assets/images/logos/logo-header.png') }}" class="logo-header" alt="Logo RefletsBleus">
				</a>
				<div class="d-flex content-icon-facebook-top order-xxl-1">
					<a href="https://www.facebook.com/profile.php?id=100089841056259">
						<i class="fa-brands fa-square-facebook"></i>
					</a>
				</div>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse " id="navbarSupportedContent" >
					<ul class="navbar-nav">
						{% for category in categories %}
						<li class="nav-item">
							<a class="nav-link" href="{{category.slug}}">{{category.name}}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</nav>
		<div class="row d-flex g-0">
			<div class="row d-flex col-12 col-md-auto g-0">
					<a href="{{ path('app_contact') }}" class="d-flex icon-light col-4 col-md-auto text-decoration-none">
					<i class="fa-solid fa-phone"></i>
					</a>
				

					<a href="{{ path('app_contact') }}"class="d-flex icon-dark col-4 col-md-auto text-decoration-none">
					<i class="fa-solid fa-location-dot"></i>
					</a>

				<div class="col-4 col-md-auto content-icon-mail">
					<div class="icon-mail">
							<i class="fa-solid fa-envelope"></i>
					</div>
				</div>			
			</div>
		</div>
	</header>
</div>

