{% extends 'base.html.twig' %}
{% block title %}Hello MainController!{% endblock %}
{% block body_class %}{{title}}{% endblock %}
{% block body %}


{# PICTURE #}
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER ---  #}
{% include('_partials/picture_header.html.twig') %}

{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER END ---  #}
{# COMMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT ---  #}
{% include('_partials/comment.html.twig') %}    
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT END ---  #}


{# RESUME #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RESUME ---  #}
<section id="resume">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/index/image-body-index-resume.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-center d-flex flex-column align-items-center justify-content-center">
                        <div class="title-container my-2">
                            <div class="icon-container"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION PISCINE BLUE</span>
                        </div>
                        <p class="col-md-10 paragraph text-center">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>                 
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button> 
                        </div>   
                    </div>                
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RESUME END ---  #}


{# PISCINE #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION PISCINE ---  #}
<section id="piscine">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/index/image-body-index-1.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container blue"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE PISCINE</span>
                        </div>
                        <p class="col-md-10 paragraph">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION PISCINE END ---  #}


{# SERVICES #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION SERVICES ---  #}
<section id="services">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/index/image-body-index-3.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container green"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE SERVICES</span>
                        </div>
                        <p class="col-md-10 paragraph">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon green mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon green mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION SERVICES END ---  #}


{# RENOVATIONS #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RENOVATIONS ---  #}
<section id="renovations">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/index/image-body-index-2.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container yellow"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE RENOVATION</span>
                        </div>
                        <p class="col-md-10 paragraph">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon yellow mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon yellow mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RENOVATIONS END ---  #}


{# SPAS #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION SPAS ---  #}
<section id="spas">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/index/image-body-index-4.jpg') }}" class="img-fluid  imgscale" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container red"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE SPAS</span>
                        </div>
                        <p class="col-md-10 paragraph">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon red mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon red mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION SPAS END ---  #}


{# SHOP #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION SHOP ---  #}
<section id="shop">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/index/image-body-index-5.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container blue"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE SHOP</span>
                        </div>
                        <p class="col-md-10 paragraph">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION SHOP END ---  #}


{# BATIMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION BATIMENT ---  #}
<section id="batiment">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/index/image-body-index-6.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container grey"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE BATIMENT</span>
                        </div>
                        <p class="col-md-10 paragraph">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon grey mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon grey mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION BATIMENT END ---  #}


{# COMMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT ---  #}
{% include('_partials/comment.html.twig') %}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT END ---  #}


{# CARDS #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION CARDS ---  #}
{% include('_partials/card.html.twig') %}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION CARDS END ---  #}


{% endblock %}
