{% extends 'base.html.twig' %}
{% block title %}Hello MainController!{% endblock %}
{% block body_class %}{{title}}{% endblock %}
{% block body %}
{# PICTURE #}
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER ---  #}
<section id="img">
    <div class="row col-12 g-0 image_header">
        <div class="image_header">
        <img src="{{ asset('assets/images/images/index/image-header-index-phone.jpg') }}" alt="" id="image_header">
        </div>
        <img src="{{ asset('assets/images/logos/logo-oppacity.png') }}" alt="" id="overlay_image">
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER END ---  #}
{# COMMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT ---  #}
<section id="comment">
    <div class="row my-4 col-10 mx-auto">
        <div class="col-md-4">
            <div class="containt-comment-title col-md-12">
                <div class="icon-comment blue"><i class="fa-solid fa-medal"></i></div>
                    <h1 class="title-comment mx-2">UN SAVOIR FAIRE</h1>
                </div>
                <p class="p-comment col-md-10">
                Faites confiance à l'expertise de
                Reflets Bleus, cumulant 33 ans
                de savoir-faire dans la construction de piscines, spas et saunas.
                Notre équipe expérimentée vous guide à chaque étape pour
                concrétiser vos projets avec professionnalisme.
                </p>
            </div>
            <div class="col-md-4">
                <div class="containt-comment-title col-md-12">
                    <div class="icon-comment blue"><i class="fa-solid fa-handshake"></i></div>
                        <h1 class="title-comment mx-2">UN AVIS D'EXPERT</h1>
                    </div>
                    <p class="p-comment col-md-10">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                    </p>
                </div>
            <div class="col-md-4 ">
                <div class="containt-comment-title col-md-12">
                    <div class="icon-comment blue"><i class="fa-solid fa-truck"></i></div>
                        <h1 class="title-comment mx-2">ZONE INTERVENTION</h1>
                    </div>
                    <p class="p-comment col-md-10">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT END ---  #}
{# BLUE #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION BLUE ---  #}
<section id="top">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-10">
                <div class="position-relative">
                    <img src="{{ asset('assets/images/images/index/image-body-index-1.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay-blue overlay-center d-flex flex-column align-items-center justify-content-center">
                        <div class="title-container my-2">
                            <div class="icon-container blue"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION PISCINE BLUE</span>
                        </div>
                        <p class="col-md-10">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button> 
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION BLUE END ---  #}
{# GREEN #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION GREEN ---  #}
<section id="green">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="{{ asset('assets/images/images/index/image-body-index-3.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container green"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE GREEN</span>
                        </div>
                        <p class="col-md-10">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon green mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon green mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION GREEN END ---  #}
{# YELLOW #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION YELLOW ---  #}
<section id="yellow">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="{{ asset('assets/images/images/index/image-body-index-2.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container yellow"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION RENOVATION YELLOW</span>
                        </div>
                        <p class="col-md-10">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon yellow mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon yellow mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION YELLOW END ---  #}
{# RED #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RED ---  #}
<section id="red">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="{{ asset('assets/images/images/index/image-body-index-4.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container red"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SPAS RED</span>
                        </div>
                        <p class="col-md-10">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon red mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon red mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RED END ---  #}
{# BLUE #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION BLUE ---  #}
<section id="blue">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="{{ asset('assets/images/images/index/image-body-index-5.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container blue"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION STORE BLUE</span>
                        </div>
                        <p class="col-md-10">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon blue mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION BLUE END ---  #}
{# GREY #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION GREY ---  #}
<section id="grey">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative">
                    <img src="{{ asset('assets/images/images/index/image-body-index-6.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-right d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container grey"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION BATIMENT GREY</span>
                        </div>
                        <p class="col-md-10">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour
                            piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons
                            de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage
                            soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des
                            solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace
                            aquatique dans un état optimal.</p>
                        <div class="container-btn d-flex mx-2 my-2">
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon grey mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                            <button type="button" class="button d-flex align-items-center mx-2">
                                <div class="icon grey mx-2">
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                                <span class="text-btn">Nos Piscines</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION GREY END ---  #}
{# COMMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT ---  #}
<section id="comment">
    <div class="row my-4 col-10 mx-auto">
        <div class="col-md-4">
            <div class="containt-comment-title col-md-12">
                <div class="icon-comment blue"><i class="fa-solid fa-medal"></i></div>
                    <h1 class="title-comment mx-2">TITLE COMMENT 1</h1>
                </div>
                <p class="p-comment col-md-10">
                Faites confiance à l'expertise de
                Reflets Bleus, cumulant 33 ans
                de savoir-faire dans la construction de piscines, spas et saunas.
                Notre équipe expérimentée vous guide à chaque étape pour
                concrétiser vos projets avec professionnalisme.
                </p>
            </div>
            <div class="col-md-4">
                <div class="containt-comment-title col-md-12">
                    <div class="icon-comment blue"><i class="fa-solid fa-handshake"></i></div>
                        <h1 class="title-comment mx-2">TITLE COMMENT 2</h1>
                    </div>
                    <p class="p-comment col-md-10">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                    </p>
                </div>
            <div class="col-md-4 ">
                <div class="containt-comment-title col-md-12">
                    <div class="icon-comment blue"><i class="fa-solid fa-truck"></i></div>
                        <h1 class="title-comment mx-2">TITLE COMMENT 3</h1>
                    </div>
                    <p class="p-comment col-md-10">
                    Faites confiance à l'expertise de
                    Reflets Bleus, cumulant 33 ans
                    de savoir-faire dans la construction de piscines, spas et saunas.
                    Notre équipe expérimentée vous guide à chaque étape pour
                    concrétiser vos projets avec professionnalisme.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT END ---  #}
{# CARDS #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION CARDS ---  #}
<section id="cards">
    <div class="col-md-10 my-5 mx-auto">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-10 my-3 my-md-0 col-md-3">
                    <div class="position-relative">
                        <img src="{{ asset('assets/images/images/index/cards/image-card-piscine.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                        <div class="overlay-cards d-flex flex-column">
                            <div class="container-btn d-flex my-2">
                                <button type="button" class="btn-cards d-flex align-items-center mx-2">
                                    <div class="icon blue mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <span class="text-btn">Nos Piscines</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 my-3 my-md-0 col-md-3">
                    <div class="position-relative">
                        <img src="{{ asset('assets/images/images/index/cards/image-card-service.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                        <div class="overlay-cards d-flex flex-column">
                            <div class="container-btn d-flex my-2">
                                <button type="button" class="btn-cards d-flex align-items-center mx-2">
                                    <div class="icon green mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <span class="text-btn">Nos Services</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 my-3 my-md-0 col-md-3">
                    <div class="position-relative">
                        <img src="{{ asset('assets/images/images/index/cards/image-card-renovation.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                        <div class="overlay-cards d-flex flex-column">
                            <div class="container-btn d-flex my-2">
                                <button type="button" class="btn-cards d-flex align-items-center mx-2">
                                    <div class="icon yellow mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <span class="text-btn">Nos Rénovations</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-10 my-3 my-md-0 col-md-3">
                    <div class="position-relative">
                        <img src="{{ asset('assets/images/images/index/cards/image-card-spas.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                        <div class="overlay-cards d-flex flex-column">
                            <div class="container-btn d-flex mx-2 my-2">
                                <button type="button" class="btn-cards d-flex align-items-center mx-2">
                                    <div class="icon red mx-2">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                    <span class="text-btn">Nos spas</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION CARDS END ---  #}
{% endblock %}
