{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block body_class %}home{% endblock %}

{% block body %}
<section >
            <div class="row col-12 g-0 image_header" >
                    <img src="{{ asset('assets/images/images/index/image-header-index-phone.jpg') }}"alt="" id="image_header">
            </div>
</section>
<section id="section_comment " class="my-2">
        <!---------------------------------------------------------------- SECTION COMMENTAIRES ---------------------------------------------------------------->
        <div class="container-fluid col-12 row mx-auto">

                <div class="commment-top col-12 col-xxl-3 mx-auto">
                    <div class="containt-comment-title col-12 col-xxl-12">
                        <img src="{{ asset('assets/images/icons/body/icon-star.png') }}" class="icon-title" alt="">
                        <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
                    </div>
                    <div class="comment col-12 mx-auto">
                    <p>Faites confiance à l'expertise
                        de
                        Reflets Bleus, cumulant 33 ans
                        de savoir-faire dans la construction de piscines, spas et saunas.
                        Notre équipe expérimentée vous guide à chaque étape pour
                        concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>
                <div class="col-12 col-xxl-3 mx-auto">
                    <img src="{{ asset('assets/images/logos/logo-pro-piscine.svg') }}"  id="logo_pro_piscine">
                </div>
                <div class="commment-top col-12 col-xxl-3 mx-auto">
                    <div class="containt-comment-title col-12 col-xxl-12">
                        <img src="{{ asset('assets/images/icons/body/icon-localisation.png') }}" class="icon-title" alt="">
                        <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
                    </div>
                    <div class="comment col-12 mx-auto">
                    <p>Faites confiance à l'expertise
                        de
                        Reflets Bleus, cumulant 33 ans
                        de savoir-faire dans la construction de piscines, spas et saunas.
                        Notre équipe expérimentée vous guide à chaque étape pour
                        concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>

        </div>
        <!---------------------------------------------------------------- SECTION COMMENTAIRES FIN ---------------------------------------------------------------->
</section>
<section id="section_comment">
        <!---------------------------------------------------------------- SECTION COMMENTAIRES ---------------------------------------------------------------->
        <div class="container-fluid col-10 row mx-auto">

                <div class="commment-top col-12 col-xxl-4">
                    <div class="containt-comment-title col-12 col-xxl-12">
                        <img src="{{ asset('assets/images/icons/body/icon-star.png') }}" class="icon-title" alt="">
                        <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
                    </div>
                    <div class="comment col-12 mx-auto">
                    <p>Faites confiance à l'expertise
                        de
                        Reflets Bleus, cumulant 33 ans
                        de savoir-faire dans la construction de piscines, spas et saunas.
                        Notre équipe expérimentée vous guide à chaque étape pour
                        concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>
                <div class="commment-top col-12 col-xxl-4">
                    <div class="containt-comment-title col-12 col-xxl-12">
                        <img src="{{ asset('assets/images/icons/body/icon-good.png') }}" class="icon-title" alt="">
                        <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
                    </div>
                    <div class="comment col-12 mx-auto">
                    <p>Faites confiance à l'expertise
                        de
                        Reflets Bleus, cumulant 33 ans
                        de savoir-faire dans la construction de piscines, spas et saunas.
                        Notre équipe expérimentée vous guide à chaque étape pour
                        concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>
                <div class="commment-top col-12 col-xxl-4">
                    <div class="containt-comment-title col-12 col-xxl-12">
                        <img src="{{ asset('assets/images/icons/body/icon-localisation.png') }}" class="icon-title" alt="">
                        <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
                    </div>
                    <div class="comment col-12 mx-auto">
                    <p>Faites confiance à l'expertise
                        de
                        Reflets Bleus, cumulant 33 ans
                        de savoir-faire dans la construction de piscines, spas et saunas.
                        Notre équipe expérimentée vous guide à chaque étape pour
                        concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>

        </div>
        <!---------------------------------------------------------------- SECTION COMMENTAIRES FIN ---------------------------------------------------------------->
</section>
<section id="section_comment">
        <!---------------------------------------------------------------- SECTION COMMENTAIRES ---------------------------------------------------------------->
        <div class="container-fluid col-10 row mx-auto">

                <div class="commment-top col-12 col-xxl-4">
                    <div class="containt-comment-title col-12 col-xxl-12">
                        <img src="{{ asset('assets/images/icons/body/icon-star.png') }}" class="icon-title" alt="">
                        <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
                    </div>
                    <div class="comment col-12 mx-auto">
                    <p>Faites confiance à l'expertise
                        de
                        Reflets Bleus, cumulant 33 ans
                        de savoir-faire dans la construction de piscines, spas et saunas.
                        Notre équipe expérimentée vous guide à chaque étape pour
                        concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>
                <div class="commment-top col-12 col-xxl-4">
                    <div class="containt-comment-title col-12 col-xxl-12">
                        <img src="{{ asset('assets/images/icons/body/icon-good.png') }}" class="icon-title" alt="">
                        <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
                    </div>
                    <div class="comment col-12 mx-auto">
                    <p>Faites confiance à l'expertise
                        de
                        Reflets Bleus, cumulant 33 ans
                        de savoir-faire dans la construction de piscines, spas et saunas.
                        Notre équipe expérimentée vous guide à chaque étape pour
                        concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>
                <div class="commment-top col-12 col-xxl-4">
                    <div class="containt-comment-title col-12 col-xxl-12">
                        <img src="{{ asset('assets/images/icons/body/icon-localisation.png') }}" class="icon-title" alt="">
                        <h1 class="title-comment">VRAI SAVOIR-FAIRE</h1>
                    </div>
                    <div class="comment col-12 mx-auto">
                    <p>Faites confiance à l'expertise
                        de
                        Reflets Bleus, cumulant 33 ans
                        de savoir-faire dans la construction de piscines, spas et saunas.
                        Notre équipe expérimentée vous guide à chaque étape pour
                        concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>

        </div>
        <!---------------------------------------------------------------- SECTION COMMENTAIRES FIN ---------------------------------------------------------------->
</section>
{% endblock %}
