{% extends 'base.html.twig' %}
{% block title %}Nos Magasins{% endblock %}
{% block body_class %}{{title}}{% endblock %}
{% block body %}

{# PICTURE #}
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER ---  #}
{% include('_partials/picture_header.html.twig') %}
{# ----------------------------------------------------------------------------------------------------------------------- PICTURE HEADER END ---  #}


{# COMMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT ---  #}
{% include('_partials/comment.html.twig') %}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT END ---  #}




{# RESUME #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RESUME ---  #}
<section id="resume">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/contact/image-contact-1.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-center d-flex flex-column align-items-center justify-content-center">
                        <div class="title-container my-2">
                        <div class="icon-container "><i class="fas fa-star"></i></div>
                        <span class="titreh2">TITLE SECTION PISCINE BLUE</span>
                        </div>
                        <p class="col-md-10 paragraph text-center">Faites confiance à l'expertise de Reflets Bleus, cumulant 33 ans de savoir-faire dans la construction de piscines, spas et saunas. Notre équipe expérimentée vous guide à chaque étape pour concrétiser vos projets avec professionnalisme. Faites confiance à l'expertise de Reflets Bleus, cumulant 33 ans de savoir-faire dans la construction de piscines, spas et saunas. Notre équipe expérimentée vous guide à chaque étape pour concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RESUME END ---  #}


{# St-Pandelon #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION St-Pandelon ---  #}
<section id="st-pandelon">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/contact/image-contact-2.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE PISCINE</span>
                        </div>
                        <p class="col-md-10 paragraph">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{# LOCATION #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION LOCATION --- #}
<div id="comment" class="my-1">
        <div class="col-10 d-md-flex justify-content-around mx-auto">
            <div class="d-flex justify-content-center align-items-center ">
                <div class="icon-comment ">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <p class="p-location ">140 Route du Lycée Agricole</p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="icon-comment">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <p class="p-location">05 58 58 58 58</p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="icon-comment ">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <p class="p-location">Refletsbleus@admin.fr</p>
            </div>
        </div>
</div>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION LOCATION END --- #}
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION St-Pandelon END ---  #}



{# SLIDER #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION SLIDER ---  #}
{% include('_partials/slider.html.twig') %}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION SLIDER END ---  #}



{# Hagetmau #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION Hagetmau ---  #}
<section id="hagetmau">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-xxl-10 col-md-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/contact/image-contact-3.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-left d-flex flex-column">
                        <div class="title-container my-2">
                            <div class="icon-container"><i class="fas fa-star"></i></div>
                            <span class="titreh2">TITLE SECTION SERVICE PISCINE</span>
                        </div>
                        <p class="col-md-10 paragraph">Reflets Bleus se distingue par son expertise dans les services d'entretien complets pour piscines, spas et saunas. Allant au-delà de la simple construction, nous vous accompagnons de manière exhaustive, assurant un suivi attentif du nettoyage régulier à l'hivernage soigneux. Forte de 33 ans d'expérience, notre équipe assure un suivi attentif, offrant des solutions personnalisées adaptées à vos besoins spécifiques pour maintenir votre espace aquatique dans un état optimal.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{# LOCATION #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION LOCATION --- #}
<div id="comment" class="my-1">
        <div class="col-10 d-md-flex justify-content-around mx-auto">
            <div class="d-flex justify-content-center align-items-center ">
                <div class="icon-comment ">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <p class="p-location ">140 Route du Lycée Agricole</p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="icon-comment">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <p class="p-location">05 58 58 58 58</p>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div class="icon-comment ">
                    <i class="fa-solid fa-handshake"></i>
                </div>
                <p class="p-location">Refletsbleus@admin.fr</p>
            </div>
        </div>
</div>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION LOCATION END --- #}
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION Hagetmau END ---  #}


{# RESUME #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RESUME ---  #}
<section id="resume">
    <div class="container-fluid my-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-10">
                <div class="position-relative overflow-hidden">
                    <img src="{{ asset('assets/images/images/contact/image-contact-4.jpg') }}" class="img-fluid w-100" alt="Image de piscine">
                    <div class="overlay overlay-center d-flex flex-column align-items-center justify-content-center">
                        <div class="title-container my-2">
                        <div class="icon-container "><i class="fas fa-star"></i></div>
                        <span class="titreh2">TITLE SECTION PISCINE BLUE</span>
                        </div>
                        <p class="col-md-10 paragraph text-center">Faites confiance à l'expertise de Reflets Bleus, cumulant 33 ans de savoir-faire dans la construction de piscines, spas et saunas. Notre équipe expérimentée vous guide à chaque étape pour concrétiser vos projets avec professionnalisme. Faites confiance à l'expertise de Reflets Bleus, cumulant 33 ans de savoir-faire dans la construction de piscines, spas et saunas. Notre équipe expérimentée vous guide à chaque étape pour concrétiser vos projets avec professionnalisme.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{# ----------------------------------------------------------------------------------------------------------------------- SECTION RESUME END ---  #}



{# COMMENT #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT ---  #}
{% include('_partials/comment.html.twig') %}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION COMMENT END ---  #}


{# CARDS #}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION CARDS ---  #}
{% include('_partials/card.html.twig') %}
{# ----------------------------------------------------------------------------------------------------------------------- SECTION CARDS END ---  #}
{% endblock %}
