{% extends 'base.html.twig' %}
{% block title %}Nous contacter{% endblock %}

{% block body_class %}{{title}}{% endblock %}

{% block body %}

<div class ="container my-5 pt-5">
    {{ form_start(form_contact, {'attr': {'class': 'contact-form__form'}})}}
				<div class="row gy-4 my-5">
					<div class="col-sm-6 col-xs-6">
						{{ form_widget(form_contact.nom)}}
					</div>
					<div class="col-sm-6 col-xs-6">
						{{ form_widget(form_contact.prenom)}}
					</div>
					<div class="col-sm-6 col-xs-6">
						{{ form_widget(form_contact.email)}}

					</div>
					<div class="col-sm-6 col-xs-6">
						{{ form_widget(form_contact.tel)}}

					</div>
					<div class="col-sm-6 col-xs-6">
						{{ form_widget(form_contact.subject)}}

					</div>
					<div class="col-12">
						{{ form_widget(form_contact.body)}}

					</div>
					<div class="col-12">
						{{ form_widget(form_contact.agreeTerms)}}
					</div>
					<div class="col-12">
						{{ form_widget(form_contact.submit)}}
					</div>
				</div>
				{{ form_end(form_contact)}} 
</div>

{% endblock %}
